<h1>Log In</h1>
<p class="ms-5"><i>Select Your Role</i></p>

<%= link_to 'Admin', new_admin_session_path, class: 'd-block mb-5 ms-5' %>
<%= link_to 'Doctor', new_doctor_session_path, class: 'd-block mb-5 ms-5' %>
<%= link_to 'Receptionist', new_receptionist_session_path, class: 'd-block mb-5 ms-5' %>