<% content_for :title, "Editing patient" %>

<h1>Editing patient</h1>

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to "Show this patient", @patient, class:'btn btn-primary me-5' %>
  <%= link_to "Back to patients", patients_path, class:'btn btn-primary' %>
</div>
